/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

//  --theme-palette-color-1
//  --theme-palette-color-2
//  --theme-palette-color-3
//  --theme-palette-color-4
//  --theme-palette-color-5

@mixin link_styling() {
	font-weight: 600;
	color: var(--theme-palette-color-1);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@mixin code_styling() {
	display: inline-flex;
	align-items: center;
	tab-size: 4;
	border-radius: 3px;
	padding: 2px 4px;
	font-size: .9em;
	font-weight: 400;
	color: var(--theme-palette-color-1);
	background: var(--theme-palette-color-6);
	margin: 0 2px 0 0;
}

@mixin astroCheckbox($label) {
	$switch_height: 30px;
	$switch_width: 50px;
	$switch_border_size: 0px;
	$switch_border_color: #d8d8d8;
	$switch_inactive_bg: #d8d8d8;
	$switch_active_bg: #21759b;

	$button_active_color: #fff;
	$button_inactive_color: #fff;
	$button_size: 20px;
	$button_padding: 4px;

	.astro-checkbox {
		position: relative;
		cursor: pointer;
		display: flex;
		flex-direction: row-reverse;
		gap: 8px;

		&-name::before {
			display: inline-block;
			padding-right: 4px;
			content: $label;
			color: #000;
		}

		&-toggle {
			box-sizing: border-box;
			position: relative;
			display: inline-block;
			width: $switch_width;
			height: $switch_height;
			background: $switch_inactive_bg;
			border-radius: $switch_height / 2;
			border: solid $switch_border_size $switch_border_color;

			&::before {
				font-size: 12px;
				position: absolute;
				color: #fff;
				height: $button_size;
				width: $button_size;
				left: $button_padding;
				text-align: center;
				line-height: $button_size;
				top: calc(50% - ($button_size / 2) + 2px);
			}

			&::after {
				content: '';
				box-sizing: border-box;
				display: block;
				position: absolute;
				height: $button_size;
				width: $button_size;
				top: calc(50% - ($button_size / 2));
				border-radius: 50%;
			}
		}

		&-checkbox ~ .astro-checkbox-toggle {
			&::after {
				transition: ease all .3s;
				left: $button_padding;
				background: $button_inactive_color;
			}
		}

		&-checkbox:checked ~ .astro-checkbox-toggle {
			&::after {
				background: $button_active_color;
				left: calc(100% - $button_size - $button_padding);
			}
		}

		&-checkbox:checked ~ .astro-checkbox-toggle {
			&::before {
				content: "ON";
			}
			background: $switch_active_bg;
		}
	}
}

.wp-block-create-block-astro-capture-details-block {
	.hidden { display: none; }

	.main-image-wrapper {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		gap: var(--wp--preset--spacing--20);

		.main-image,
		.annotated-image {
			position: absolute;
			top: 0;
			left: 0;
		}

		aside.image-actions {
			padding: 8px;    
			display: flex;
			flex-direction: column;
			gap: var(--wp--preset--spacing--30);

			.annotation-checkbox {
				@include astroCheckbox('Annotate');
			}

			.astro-button {
				padding: 8px 12px;
				background-color: var(--wp--preset--color--secondary);
				border-radius: 4px;
				border-width: 0;
				font-size: var(--wp--preset--font-size--medium);
				color: var(--wp--preset--color--base);
			}
		}
	}
}
 